# Configuration file
#

# Verbose mode
1

# Output file
'output_variable/MODEL_standard400_CASE2_xmol1.0E-06/radius_29_eps1.d-2'

# File with the atmospheric model
'models_variable/MODEL_standard400_CASE2_xmol1.0E-06/radius_29.model'

# File with the atomic/molecular model
'molecules/VARIABLE/2-level_eps1.d-2_case2.model'

# Microturbulent velocity [km/s]
1.0

# Escape probability (0-> KROLIK & McKEE, 1-> EXACT)
0

# Read previous calculation
0

# File with the previous calculation (if applies)
previous.result

# Starting solution (0-> LTE, 1-> Optically thin)
1

# Numerical scheme (1->CEP ALI / 2->CEP Analytical Newton / 3->CEP Numerical Newton)
1

# Precision of the solution
1.d-4
