# Configuration file
#

# Verbose mode
1

# Output file
'OUTPUT/radius_0'

# File with the atmospheric model
'MODELS/radius_0.model'

# File with the atomic/molecular model
'MOLECULES/h2dp.model'

# Microturbulent velocity [km/s]
0.4

# Escape probability (0-> KROLIK & McKEE, 1-> EXACT)
0

# Read previous calculation
0

# File with the previous calculation (if applies)
previous.result

# Starting solution (0-> LTE, 1-> Optically thin)
1

# Numerical scheme (1->CEP ALI / 2->CEP Analytical Newton / 3->CEP Numerical Newton)
2

# Precision of the solution
1.d-4
